.car-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.car-page-android-large8 {
  width: 100%;
  height: 800px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.car-page-rectangle2309 {
  top: 732px;
  left: 3px;
  width: 355px;
  height: 61px;
  position: absolute;
  border-color: rgba(139, 139, 139, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.car-page-icons8home482 {
  top: 739px;
  left: 23px;
  width: 48px;
  height: 48px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.car-page-icons8car482 {
  top: 739px;
  left: 109px;
  width: 48px;
  height: 48px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.car-page-icons8person642 {
  top: 739px;
  left: 288px;
  width: 48px;
  height: 48px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.car-page-icons8folder1001 {
  top: 739px;
  left: 199px;
  width: 48px;
  height: 48px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.car-page-rectangle37 {
  top: -8px;
  left: 0px;
  width: 360px;
  height: 119px;
  position: absolute;
  border-radius: 7px;
}
.car-page-text {
  top: -5px;
  left: -1px;
  color: rgba(5, 5, 5, 1);
  height: auto;
  position: absolute;
  font-size: 70px;
  font-style: Regular;
  text-align: left;
  font-family: Post No Bills Colombo;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.car-page-text2 {
  top: 12px;
  left: 54px;
  color: rgba(5, 5, 5, 0);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Quantico;
  font-weight: 400;
  line-height: 123.19999933242798%;
  font-stretch: normal;
  text-decoration: none;
}
.car-page-rectangle23091 {
  top: 182px;
  left: 90px;
  width: 165px;
  height: 35px;
  position: absolute;
  border-color: rgba(191, 191, 191, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.car-page-text7 {
  top: 184px;
  left: 105px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
