.car-maker-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.car-maker-android-large43 {
  width: 100%;
  height: 800px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.car-maker-rectangle24 {
  top: 185px;
  left: 37px;
  width: 289px;
  height: 46px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 13px;
}
.car-maker-text {
  top: 198px;
  left: 56px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.car-maker-rectangle28 {
  top: 440px;
  left: 37px;
  width: 289px;
  height: 46px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 13px;
}
.car-maker-text02 {
  top: 453px;
  left: 56px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.car-maker-rectangle39 {
  top: 506px;
  left: 37px;
  width: 289px;
  height: 46px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 13px;
}
.car-maker-text04 {
  top: 519px;
  left: 56px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.car-maker-rectangle27 {
  top: 374px;
  left: 37px;
  width: 289px;
  height: 46px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 13px;
}
.car-maker-text06 {
  top: 322px;
  left: 53px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.car-maker-rectangle25 {
  top: 246px;
  left: 37px;
  width: 289px;
  height: 46px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 13px;
}
.car-maker-text08 {
  top: 259px;
  left: 56px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.car-maker-rectangle26 {
  top: 309px;
  left: 37px;
  width: 289px;
  height: 46px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 13px;
}
.car-maker-text10 {
  top: 387px;
  left: 52px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.car-maker-rectangle2309 {
  top: 732px;
  left: 3px;
  width: 355px;
  height: 61px;
  position: absolute;
  border-color: rgba(139, 139, 139, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.car-maker-icons8home482 {
  top: 739px;
  left: 23px;
  width: 48px;
  height: 48px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.car-maker-icons8car482 {
  top: 739px;
  left: 109px;
  width: 48px;
  height: 48px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.car-maker-icons8person642 {
  top: 739px;
  left: 288px;
  width: 48px;
  height: 48px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.car-maker-icons8folder1001 {
  top: 739px;
  left: 199px;
  width: 48px;
  height: 48px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.car-maker-rectangle37 {
  top: -8px;
  left: 0px;
  width: 360px;
  height: 119px;
  position: absolute;
  border-radius: 7px;
}
.car-maker-text12 {
  top: -5px;
  left: -1px;
  color: rgba(5, 5, 5, 1);
  height: auto;
  position: absolute;
  font-size: 70px;
  font-style: Regular;
  text-align: left;
  font-family: Post No Bills Colombo;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.car-maker-text14 {
  top: 12px;
  left: 54px;
  color: rgba(5, 5, 5, 0);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Quantico;
  font-weight: 400;
  line-height: 123.19999933242798%;
  font-stretch: normal;
  text-decoration: none;
}
.car-maker-image26 {
  top: 91px;
  left: 16px;
  width: 30px;
  height: 40px;
  position: absolute;
}
.car-maker-rectangle23091 {
  top: 577px;
  left: 78px;
  width: 216px;
  height: 35px;
  position: absolute;
  border-color: rgba(191, 191, 191, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.car-maker-text19 {
  top: 579px;
  left: 113px;
  color: rgb(0, 0, 0);
  width: 192px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
