.case-maker-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.case-maker-android-large10 {
  width: 100%;
  height: 800px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.case-maker-rectangle2309 {
  top: 522px;
  left: 118px;
  width: 114px;
  height: 34px;
  position: absolute;
  border-color: rgba(191, 191, 191, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.case-maker-text {
  top: 527px;
  left: 142px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.case-maker-rectangle23091 {
  top: 732px;
  left: 3px;
  width: 355px;
  height: 61px;
  position: absolute;
  border-color: rgba(139, 139, 139, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.case-maker-icons8home482 {
  top: 739px;
  left: 23px;
  width: 48px;
  height: 48px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.case-maker-icons8car482 {
  top: 739px;
  left: 109px;
  width: 48px;
  height: 48px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.case-maker-icons8person642 {
  top: 739px;
  left: 288px;
  width: 48px;
  height: 48px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.case-maker-icons8folder1001 {
  top: 739px;
  left: 199px;
  width: 48px;
  height: 48px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.case-maker-text02 {
  top: 205px;
  left: 53px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.case-maker-rectangle26 {
  top: 190px;
  left: 36px;
  width: 289px;
  height: 46px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 13px;
}
.case-maker-text04 {
  top: 327px;
  left: 53px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.case-maker-rectangle54 {
  top: 316px;
  left: 36px;
  width: 289px;
  height: 46px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 13px;
}
.case-maker-text06 {
  top: 391px;
  left: 53px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.case-maker-rectangle55 {
  top: 378px;
  left: 36px;
  width: 289px;
  height: 46px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 13px;
}
.case-maker-text08 {
  top: 393px;
  left: 206px;
  color: rgb(0, 0, 0);
  width: 105px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.case-maker-text09 {
  top: 455px;
  left: 52px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.case-maker-rectangle56 {
  top: 442px;
  left: 36px;
  width: 289px;
  height: 46px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 13px;
}
.case-maker-image39 {
  top: 385.8359375px;
  left: 290.1641845703125px;
  width: 22px;
  height: 35px;
  position: absolute;
}
.case-maker-rectangle37 {
  top: -8px;
  left: 0px;
  width: 360px;
  height: 119px;
  position: absolute;
  border-radius: 7px;
}
.case-maker-text11 {
  top: -5px;
  left: 176px;
  color: rgba(5, 5, 5, 1);
  height: auto;
  position: absolute;
  font-size: 70px;
  font-style: Regular;
  text-align: left;
  font-family: Post No Bills Colombo;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.case-maker-text13 {
  top: 12px;
  left: 54px;
  color: rgba(5, 5, 5, 0);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Quantico;
  font-weight: 400;
  line-height: 123.19999933242798%;
  font-stretch: normal;
  text-decoration: none;
}
.case-maker-image27 {
  top: 91px;
  left: 16px;
  width: 30px;
  height: 40px;
  position: absolute;
}
.case-maker-text18 {
  top: 268px;
  left: 53px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.case-maker-rectangle57 {
  top: 253px;
  left: 36px;
  width: 289px;
  height: 46px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 13px;
}
.case-maker-icons8plus961 {
  top: 262px;
  left: 276px;
  width: 25px;
  height: 25px;
  position: absolute;
}
