.login-page-container {
  width: 100%;
  height: 800px;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.login-page-android-large1 {
  width: 100%;
  height: 800px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.login-page-black-bmw1 {
  top: -139px;
  left: 0px;
  width: 360px;
  height: 939px;
  position: absolute;
}
.login-page-rectangle15 {
  top: 501px;
  left: 29px;
  width: 301px;
  height: 52px;
  position: absolute;
  border-color: rgba(252, 164, 60, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.login-page-rectangle16 {
  top: 578px;
  left: 29px;
  width: 301px;
  height: 52px;
  position: absolute;
  border-color: rgba(252, 164, 60, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.login-page-rectangle17 {
  top: 654px;
  left: 28px;
  width: 301px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.login-page-rectangle171 {
  top: 0px;
  left: 0px;
  width: 301px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 0);
  border-style: solid;
  border-width: 1px;
}
.login-page-rectangle172 {
  top: 0px;
  left: 0px;
  width: 301px;
  height: 52px;
  position: absolute;
  border-radius: 8px;
}
.login-page-text {
  top: 517px;
  left: 47px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 123.19999933242798%;
  font-stretch: normal;
  text-decoration: none;
}
.login-page-text02 {
  top: 593px;
  left: 47px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 123.19999933242798%;
  font-stretch: normal;
  text-decoration: none;
}
.login-page-text04 {
  top: 669px;
  left: 154px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 123.19999933242798%;
  font-stretch: normal;
  text-decoration: none;
}
.login-page-text06 {
  top: 716px;
  left: 102px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 123.19999933242798%;
  font-stretch: normal;
  text-decoration: none;
}
.login-page-text08 {
  top: 732px;
  left: 127px;
  color: rgba(252, 164, 60, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 123.19999933242798%;
  font-stretch: normal;
  text-decoration: underline;
}
.login-page-email21 {
  top: 521px;
  left: 292px;
  width: 14px;
  height: 14px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0);
}
.login-page-group {
  top: 2.012491226196289px;
  left: 0px;
  width: 14.000004768371582px;
  height: 9.97500228881836px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-page-vector {
  top: 0.9563865661621094px;
  left: 9.727616310119629px;
  width: 4px;
  height: 8px;
  position: absolute;
}
.login-page-vector1 {
  top: 5.706065654754639px;
  left: 0.6697090268135071px;
  width: 13px;
  height: 4px;
  position: absolute;
}
.login-page-vector2 {
  top: 0px;
  left: 0.3729526400566101px;
  width: 13px;
  height: 6px;
  position: absolute;
}
.login-page-vector3 {
  top: 1.1569335460662842px;
  left: 0px;
  width: 4px;
  height: 8px;
  position: absolute;
}
.login-page-lock1 {
  top: 597px;
  left: 306px;
  width: 14px;
  height: 14px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.login-page-group1 {
  top: 0px;
  left: 1.75px;
  width: 10.5px;
  height: 14px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-page-group2 {
  top: 0px;
  left: 0px;
  width: 10.5px;
  height: 14px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-page-vector4 {
  top: 0px;
  left: 0px;
  width: 10px;
  height: 14px;
  position: absolute;
}
.login-page-rectangle14 {
  top: -99px;
  left: 579px;
  width: 414px;
  height: 491px;
  position: absolute;
}
.login-page-text10 {
  top: 58px;
  left: 110px;
  color: rgba(252, 164, 60, 1);
  height: auto;
  position: absolute;
  font-size: 70px;
  font-style: Regular;
  text-align: left;
  font-family: Post No Bills Colombo;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-page-text12 {
  top: 32px;
  left: 118px;
  color: rgba(252, 164, 60, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Quantico;
  font-weight: 400;
  line-height: 123.19999933242798%;
  font-stretch: normal;
  text-decoration: none;
}
