.register-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.register-page-android-large11 {
  width: 100%;
  height: 800px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.register-page-black-bmw2 {
  top: -139px;
  left: 0px;
  width: 360px;
  height: 939px;
  position: absolute;
}
.register-page-rectangle15 {
  top: 426px;
  left: 28px;
  width: 301px;
  height: 52px;
  position: absolute;
  border-color: rgba(252, 164, 60, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.register-page-rectangle16 {
  top: 502px;
  left: 28px;
  width: 301px;
  height: 52px;
  position: absolute;
  border-color: rgba(252, 164, 60, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.register-page-rectangle17 {
  top: 654px;
  left: 28px;
  width: 301px;
  height: 52px;
  position: absolute;
  border-radius: 8px;
}
.register-page-text {
  top: 441px;
  left: 47px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 123.19999933242798%;
  font-stretch: normal;
  text-decoration: none;
}
.register-page-text02 {
  top: 517px;
  left: 47px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 123.19999933242798%;
  font-stretch: normal;
  text-decoration: none;
}
.register-page-text04 {
  top: 596px;
  left: 154px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 123.19999933242798%;
  font-stretch: normal;
  text-decoration: none;
}
.register-page-text06 {
  top: 718px;
  left: 111px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 123.19999933242798%;
  font-stretch: normal;
  text-decoration: none;
}
.register-page-text08 {
  top: 734px;
  left: 118px;
  color: rgba(252, 164, 60, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 123.19999933242798%;
  font-stretch: normal;
  text-decoration: underline;
}
.register-page-email21 {
  top: 445px;
  left: 292px;
  width: 14px;
  height: 14px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.register-page-group {
  top: 2.012491226196289px;
  left: 0px;
  width: 14.000004768371582px;
  height: 9.97500228881836px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.register-page-vector {
  top: 0.9563865661621094px;
  left: 9.727616310119629px;
  width: 4px;
  height: 8px;
  position: absolute;
}
.register-page-vector1 {
  top: 5.706065654754639px;
  left: 0.6697090268135071px;
  width: 13px;
  height: 4px;
  position: absolute;
}
.register-page-vector2 {
  top: 0px;
  left: 0.3729526400566101px;
  width: 13px;
  height: 6px;
  position: absolute;
}
.register-page-vector3 {
  top: 1.1569335460662842px;
  left: 0px;
  width: 4px;
  height: 8px;
  position: absolute;
}
.register-page-lock1 {
  top: 520px;
  left: 306px;
  width: 14px;
  height: 14px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.register-page-group1 {
  top: 0px;
  left: 1.75px;
  width: 10.5px;
  height: 14px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.register-page-group2 {
  top: 0px;
  left: 0px;
  width: 10.5px;
  height: 14px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.register-page-vector4 {
  top: 0px;
  left: 0px;
  width: 10px;
  height: 14px;
  position: absolute;
}
.register-page-rectangle18 {
  top: 578px;
  left: 29px;
  width: 301px;
  height: 52px;
  position: absolute;
  border-color: rgba(252, 164, 60, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.register-page-text10 {
  top: 593px;
  left: 47px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 123.19999933242798%;
  font-stretch: normal;
  text-decoration: none;
}
.register-page-lock2 {
  top: 597px;
  left: 306px;
  width: 14px;
  height: 14px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.register-page-group3 {
  top: 0px;
  left: 1.75px;
  width: 10.5px;
  height: 14px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.register-page-group4 {
  top: 0px;
  left: 0px;
  width: 10.5px;
  height: 14px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.register-page-vector5 {
  top: 0px;
  left: 0px;
  width: 10px;
  height: 14px;
  position: absolute;
}
.register-page-text12 {
  top: 669px;
  left: 154px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 123.19999933242798%;
  font-stretch: normal;
  text-decoration: none;
}
.register-page-text14 {
  top: 81px;
  left: 26px;
  color: rgb(217, 217, 217);
  width: 318px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
